*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.todo-container{
    width: 50%;
    background-color: aqua;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.todo-container h1{
    text-align: center;
    margin-bottom: 20px;
}
#input-section{
    display: flex;
    gap: 10px;
}
#taskInput{
    background-color: aliceblue;
    border-radius: 5px;
    padding: 5px;
    border: 1.5px solid black;
    flex: 1;
}
#addTaskButton{
    padding: 3px;
    background-color: white;
    border-radius: 5px;
    border: 1.5px solid black;
    cursor: pointer;
}
#addTaskButton:hover{
    background-color: rgba(253, 253, 0, 0.692);
}
#tasklist{
    list-style: none;
}
#tasklist li{
    background-color: #f3f4f6;
    padding: 5px;
    margin-top: 5px;
    color: black;
    border-radius: 5px;
    border: 1.5px solid black;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#tasklist li span{
    flex: 1;
}

#tasklist li button{
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
}

#tasklist li button:hover{
    background-color: rgb(212, 8, 8);
}
